 .main{
    position: relative;
    height: 150vh;
    /* width: 100%; */
    background-color:red
 }
 .nav{
   position: fixed;
   z-index: 99999;
   display: flex;
   align-items: center;
   justify-content: centernpm run ;
   height:60px;
   width: 100%;
   background-color:#4D4D4D;
   border-bottom: 1px solid #ffffff65;
 }
 .top{
   position: relative;
   overflow: hidden;
   height: 300px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.939);
 }
 .photo{
   position: relative;
   text-align: center;
   height: 100%;
   width: 400px;
   top: 10%;
   
 }



  